name: Testing

on:
  push:
  pull_request:

jobs:
  testing:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      matrix:
        tarantool-version: ['1.10', '2.2', '2.3', '2.4', '2.5', '2.6', '2.7', '2.8']
      fail-fast: false
    runs-on: [ubuntu-latest]
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository_owner }}/memcached
          # Enable recursive submodules checkout as test-run git module is used
          # for running tests.
          submodules: recursive

      - name: Setup Tarantool
        uses: tarantool/setup-tarantool@v1
        with:
          tarantool-version: ${{ matrix.tarantool-version }}

      - name: Install build requirements
        run: sudo apt-get -y install libsasl2-dev libevent-dev libmemcached-tools

      - run: cmake .

      - name: Setup Python 2 for tests
        uses: actions/setup-python@v2
        with:
          python-version: 2.7

      - name: Install test requirements
        run: pip install -r test-run/requirements.txt

      - run: make test-memcached

      - run: make test-memcached-capable

      - name: Run benchmarks
        run: make test-memcached-bench
